@import "tailwindcss";
@import "tailwindcss/utilities";
@import "@daveyplate/better-auth-ui/css";

/* restore border for now */
input:not([role]),
textarea:not([role]),
select:not([role]) {
  appearance: auto;
  background-color: white;
  border: 1px solid hsl(var(--border, 220 12% 90%));
  color: hsl(var(--foreground, 240 10% 4%));
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem; /* same as rounded-md */
}